*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background-image: url(https://i.pinimg.com/564x/d1/58/cd/d158cd981ffd78c09844c2567c68f63e.jpg);
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff9c;
    text-align: center;
    margin: 75px;
    background-color: rgb(6, 4, 5);
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
}

header h1{
    font-size: 60px;
}

.inicio{
    display:flex;
    justify-content: space-around;
}

.navbar-brand{
    font-family:'Rubik Dirt', cursive;
    /* margin: 0px 0px 0px 480px; */
    
}

.offcanvas-title{
    font-family:'Rubik Dirt', cursive;
}

input{
    width: 95%;
    padding: 10px;
    box-sizing: none;
    outline: none;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid rgb(17, 17, 17);
  
  }

  label {
    text-align: start;
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 20px;
    color: white;
    /*color: rgb(12, 9, 9);*/
    font-family: Arial, Helvetica, sans-serif;
  }


.fondotarjetas{
    background-color: black;
}


/**/

/*Contacto*/
.form{
    width: 672px;
    height: 690px;
    background: black;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
  }
  .contacto{
    margin: 10px;
    padding-bottom: 20px;
    width: 180px;
    color:white;
    /*color: rgb(83, 83, 83);*/
    border-bottom: 3px solid black;
  }
  
  .boton_contacto {
    float: right;
    padding: 10px 247px;
    margin: 70px 0 0;
    font-family:Arial, Helvetica, sans-serif ;
    border: 3px solid gray;
    background: 0;
    color: white;
    cursor: pointer;
  
  }
  .boton_contacto:hover{
    background: gray;
    color: white;
  }
  
  .contacto_contenedor{
    margin: 0%, 20%;
  }
  
.Contacto{
    color: white;
    text-align: center;
}

/*Footer*/
.footer_contenedor{
  background-color: #000;
  
}

.col {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10;
  
}



.navfooter{
  display: grid;
}



.Quienessomos{
    color: white;
    text-align: center;
}

.pagina {
    display: block;
    border: solid black 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff9c;
    text-align: center;
    margin: 2cm;
    background-color: rgb(6, 4, 5);
    margin-left: 300px;
    margin-right: 300px;
    padding: 8px;
}

.Tamaño1 {
    font-size: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Tamaño1 img {
    width: 400px;
    border: solid black 10px;
}

.Seccion3 {
    width: 50vw;
    height: 40vw;
    overflow: hidden;
    position: relative;
    margin: 200 px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Seccion3:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;

}

.Seccion3 img {
    width: 100%;
    height: 100%;
}

.Seccion3 p {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    color: blanchedalmond;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#copyright{
    font-size: 12px;
}