*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background-image: url(https://i.pinimg.com/564x/d1/58/cd/d158cd981ffd78c09844c2567c68f63e.jpg);
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff9c;
    text-align: center;
    margin: 75px;
    background-color: rgb(6, 4, 5);
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
}

.fondotarjetas {
    background-color: black;
}

.Contacto {
    color: white;
    text-align: center;
}

.Quienessomos {
    color: white;
    text-align: center;
}

.pagina {
    display: block;
    border: solid black 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff9c;
    text-align: center;
    margin: 2cm;
    background-color: rgb(6, 4, 5);
    margin-left: 300px;
    margin-right: 300px;
    padding: 8px;
}

.Tamaño1 {
    font-size: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Tamaño1 img {
    width: 400px;
    border: solid black 10px;
}

.Seccion3 {
    width: 400px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 200 px auto;
    border-radius: 40px;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Seccion3:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;

}

.Seccion3 img {
    width: 100%;
    height: 100%;
}

.Seccion3 p {
    font-family: 'Berkshire Swash', cursive;
    font-size: 3rem;
    color: blanchedalmond;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}